In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
econDF = pd.DataFrame(columns=['When','Alberta', 'Sector'])

for files in os.listdir("Economic"):
    df = pd.read_csv("Economic/" + files)
    df['When'] = pd.to_datetime(df['When'])
    tempDF = df[["When", "Alberta"]] # Get When and Alberta columns
    tempDF = tempDF.join(df.iloc[:,2]) # Get second column
    tempDF.columns = ["When", "Alberta", "Sector"]
    econDF = econDF.append(tempDF) # append to final df

In [6]:
display(econDF.head())
display(econDF.tail())

        When  Alberta             Sector
0 1985-01-01    81.15  Slaughter, calves
1 1985-01-01    69.88  Slaughter, cattle
2 1985-01-01    69.53               Hogs
3 1985-02-01    82.94  Slaughter, calves
4 1985-02-01    71.24  Slaughter, cattle

           When  Alberta                              Sector
4935 2021-07-01  1506.23               Public administration
4936 2021-07-01  1328.57  Real estate and rental and leasing
4937 2021-07-01   922.39                               Trade
4938 2021-07-01  1361.01      Transportation and warehousing
4939 2021-07-01  1954.83                           Utilities